# gvim
*.un~
*~
*.bk
*_bk
*swp
.vimpos
vimrc
gvimrc
diff.exe
gvim.exe
luajit.exe
tee.exe
vim.exe
vimrun.exe
winpty-agent.exe
xxd.exe
iconv.dll
intl.dll
lua51.dll
msvcr100.dll
winpty.dll
CHANGES.md
README.txt
memo.txt
lua/
origdoc/
patch/
plugins/
switches/
vim81/
