# gvim
*.un~
*.bk
*_bk
*swp
.vimpos
README.txt
diff.exe
gvim.exe
iconv.dll
intl.dll
lua/
lua51.dll
luajit.exe
msvcr100.dll
origdoc/
patch/
plugins/
switches/
tee.exe
vim.exe
vim81/
vimrun.exe
winpty-agent.exe
winpty.dll
xxd.exe
CHANGES.md
memo.txt
